*,
*::before,
*::after {
  box-sizing: border-box;
}

*:disabled {
  cursor: default;

  pointer-events: none;
}

html,
body {
  margin: 0;
  margin-right: calc(-1 * (100vw - 100%));
  padding: 0;
  overflow-x: clip;
}

img {
  object-fit: cover;
}

a {
  transition: all $trans-300;
}

textarea {
  resize: none !important;
}
