// Colors
// ---------------------------------

// Default

$color-default-white: #ffffff;
$color-default-black: #000000;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-prussian-blue: #002f6c;
$color-red: #ff0000;

// Animation
// ---------------------------------

$tf-default: ease;

$trans-300: 0.3s $tf-default;
