{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-4">Errors CRUD</h1>
    {% if current_user.is_authenticated and current_user.is_admin %}
        <a href="{{ url_for('add_error_page') }}" class="btn btn-primary">Добавить ошибку</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Код ошибки</th>
                <th>Текст ошибки</th>
                <th>Рекомендация</th>
                <th>Объект</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for error in errors %}
                <tr>
                    <td>{{ error.code }}</td>
                    <td>{{ error.errtext }}</td>
                    <td>{{ error.recommendation }}</td>
                    <td>{{ error.obj }}</td>
                    <td>
                        {% if current_user.is_authenticated and current_user.is_admin %}
                        <a href="{{ url_for('edit_error', id=error.id) }}" class="btn btn-info">Редактировать</a>
                        <form action="{{ url_for('delete_error', id=error.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}